.box-layout {
  background: url('/images/bg.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,.6);
    z-index: 1;
  }
}


.box-layout__box {
  background: fade-out(white, .15);
  border-radius: 3px;
  padding: $l-size $m-size;
  text-align: center;
  width: 25rem;
  z-index: 2;
}

.box-layout__title {
  margin: 0 0 $m-size;
  line-height: 1;
}
